<div class="row">

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="{{filme.Poster}}" alt="Foto" id="imagem">
        <div class="card-body" id="corpo">
          <h5 class="card-title">{{filme.Title}}</h5>
          <p class="card-text"><small class="text-muted">{{filme.Released}}</small></p>
          <p class="card-text"><small class="text-muted">{{filme.Plot}}</small></p>
          <p class="card-text"><small class="text-muted">{{filme.Language}}</small></p>
        </div>
      </div>
    </div>
</div>

<br>

<button routerLink="/home" >Voltar</button>